
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ecd6ac;
    /* background-image: url(images/parchment.jpg); */
    background-size: cover;
}

h1 {
    background-color: #ecc58a;
    padding-left: 10px;
}

.flag-guide-img {
    height: 110px;
    width: auto;
    margin: 10px;
}

.flag-guide-img:hover {
    box-shadow: 0px 5px 15px black;
}

#flag-nav {
    overflow: auto;
    white-space: nowrap;
    background-color: #ecc58a;
    border-bottom: 5px solid black;
}

#displayed-flag {
    padding-bottom: 10px;
    height: 320px;
    width: auto;
}

#country-info {
      margin: 25px 10px 20px 15px;
      float: left;
}

#country-name {
    padding-bottom: 10px;
}

#country-info p {
    padding-bottom: 10px;
}

#language-form label{
    margin-bottom: 10px;
}

#language-form {
    margin: 25px;
}

#country-finder-form {
    margin: 25px;
}

.hidden {
    display: none;
}

#new-country-form {
    background-color: #e7dbc9;
    cursor:pointer;
    height: 40%;
    position:fixed;
    text-align:center;
    top:0;
    width:35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #000000;
    padding: 10px;
    box-shadow: 0px 5px 30px black;
}

#new-country-form > * {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#submit-container {
    margin: auto;
    height: 40px;
    width: 60px;
    text-align: center;
}

.fun-button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#right-items {
    float: right;
    background-color: rgba(255,255,255, .5);
    border: solid;
    border-top: 0px;
 }

 #new-country-button {
     margin-bottom: 25px;
 }

